body {
    width: 100%;
	height: 100%;
    background-color: rgb(20,20,20);
    overflow: hidden;
    font-family: 'Roboto', sans-ser;
    font-weight: 700;
    margin: 30% 0 0 0;
    position: relative;
}
body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
}
.wrapper {
    display: flex;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    transform: perspective(300px) rotateX(25deg);
}
.scroll-text {

    color: #ffc909;
    font-size: 3vw;
    line-height: 2em;
    font-weight: bold;
    text-align: justify;
    position: absolute;
    top: 100%;
    animation: scroll 30s linear infinite;
    
}
h2 {
    text-align: center;
}
@keyframes scroll {
    from { top: 100px;transform: scale3d(1,4,0.1) rotateX(70deg); }
    to { top: -3000px; transform: translateZ(-2500px) rotateX(71deg);}
}
.audio {
    position:fixed;
    top:200px;
    left:0px;
    opacity: 0.4;
}